<h1> <%= @product.title %> </h1>
<div class="row">
		<% @product.images.each do |image| %>
			<div class="well col-md-3">
				<img src="<%= image.url %>" width="200" ></img>
			</div>
		<%end%> 
</div>

<div class="row">
	<div class="well col-md-4">
		<br>
		<%= number_to_currency(@product.price) %>
	  <br>
		Description: <%= @product.description%>
		<br>
		<%= @product.in_stock %>
		<br>
		Tags: <% @product.categories.each do |category|%>
				<%=category.name%>;
				<%end%>
	</div>


	<div class="well col-md-4">
	<h3> Add to Cauldron: </h3>
		<%= form_tag "/cart", method: :post do%>
		Quantity: <!-- <input type="text" name="quantity"> -->
		<select name="quantity">
			<% stock = 1%>
			<% @product.stock.times do %>
			  <option value="<%=stock%>"><%=stock%></option>
			  <% stock += 1%>
		  <%end%>
		</select>

			<br>
		 <input type="hidden" name="product_id" value="<%= @product.id %>" >
			<br>
		<input type="submit" value="Add to Cauldron!">
		<%end%>
	</div>

</div>